body {
  font-family: Arial, sans-serif;
  background-color: #123; 
  color: white;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 30px;
}

.filter-section {
  text-align: center;
  margin-bottom: 40px;
}

.filter-section form {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.filter-section input[type="text"],
.filter-section select {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #001;
  color: #fff;
}

.filter-section button {
  padding: 8px 15px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.filter-section button:hover {
  background-color: #218838;
}


.category-section {
  background-color: #006;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  max-width: 600px;
}

.category-section > summary {
  font-size: 18px;
  list-style: none; 
  cursor: pointer;
  position: relative;
  padding-right: 20px; 
}

.category-section > summary::after {
  content: "►";
  position: absolute;
  right: 0;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.category-section[open] > summary::after {
  content: "▼";
}

.book-list {
  margin-top: 15px;
  padding: 25px;
  background-color: #001;
  border: 1px solid #fff;
  border-radius: 4px;
}
.book-list a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}
table{
  margin-left:250px;
}