body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001;
}
.navbar {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #123;
  padding: 15px;
  margin-top: 5px;
  color: white;
}
.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  background: #fff;
  margin-left: 10px;
  overflow: hidden;
}

.all{
  display: flex;
  align-items: center;
  gap:15px;
}
.all a{
  text-decoration: none;
  font-size: 21px;
  color:white;
}
.profile-icon img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.07);
}

.search-bar {
  position: relative;
  display: flex;
  align-items: left;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(226, 222, 222, 0.2);
  max-width: 600px;
  margin: 20px auto;
}
.search-bar i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-bar input:hover {
  transform: scale(1.05);
}

.search-bar input {
  flex: 1;
  color: #fff;
  background: rgb(75, 56, 243);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  max-width: 600px;
  border-radius: 25px;
  
}

.search-bar input::placeholder {
  color: rgb(225, 225, 235); 
}


.nav-links a {
  color: white;
  text-decoration: none;
}


.container {
  padding: 20px;
}

.Intro {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  background:#001;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.Intro-Image {
  width: 500px;
  height: 300px;
  
  background: #001;
  margin-left: 10px;

  display: flex;
  justify-content: right; 
  align-items: center; 
  overflow: hidden;
}

.Intro-Image img {
  display: flex;
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}

.Intro-text {
  background:#123;
  font-weight: normal;
  font-size: medium;
  color: white;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  height: auto;
}
.Intro-text p{
  margin-top: 50px;
  font-size: 25px;
  font-family: "Knewave", system-ui;
}

.Intro-text .highlight {
  display: flex;
  font-weight: bold;
  color: white;
  font-size: x-large;
}

.dashboard  {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background: #001;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  text-decoration: none;
  color: white;
  background: #123;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 200px;
}
.card:hover {
  transform: scale(1.05);
}
.card i {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}
